.wrapper
  padding 10px

.groupBlock
  background var(--background-front-color)
  background linear-gradient(0deg, var(--background-front-g-color) 0%, var(--background-front-color) 100%)
  border-radius 28px
  margin 0 0 18px 0