.holidays
  margin-bottom 15px
  display flex
  align-items center
  gap 8px

  svg
    stroke var(--brand-g1-color)

    path
      stroke var(--brand-g1-color)

.holidaysList
  color var(--text-color)
  font-size 14px
  line-height 1.4

.holidayItem
  color var(--brand-g1-color)
