@import '../../../../styles/vars.styl'

.container
  position relative
  width 100%
  height 100%
  display grid
  grid-template-columns repeat(52, 1fr)
  // grid-auto-rows: 1fr
  padding 1px
  transform-origin center center
  transition grid-template-columns 0.15s cubic-bezier(0.4, 0, 0.2, 1)
  transition border-color 1.5s ease

.bottomPadding
  height 250px

  @media (min-width $medium-width)
    height 300px