.container
  width 100%
  height 100%
  display grid
  grid-template-columns repeat(52, minmax(0, 1fr))
  gap 1px
  transition grid-template-columns 3s ease
  border 2px dashed rgba(0, 0, 0, 0)

.dashed
  border 2px dashed var(--text-color)

@media (min-width 1200px)
  .container
    gap 4px