.container
  position relative
  width 100%
  height 100%
  display grid
  grid-template-columns repeat(52, minmax(5px, 1fr))
  gap 1px
  padding 2px
  border 1px dotted rgba(0, 0, 0, 0)
  transition grid-template-columns 3s ease
  transition border-color 1.5s ease