.week
  height 100%
  aspect-ratio 1
  min-width 3px
  min-height 3px
  border solid 1px var(--disabled-color)
  background-color var(--default-color)
  border-radius 2px
  font-size 1px

.byWidth
  width 100%
  height auto
  min-height auto

.present
  box-shadow 0 0 6px 2px var(--week-present-color)