@import '../../../../styles/vars.styl'

.week
  height 100%
  aspect-ratio 1
  min-width 3px
  min-height 3px
  border solid 1px var(--disabled-color)
  background-color var(--default-color)
  border-radius 2px
  font-size 1px

  @media (min-width $medium-width)
    border solid 2px var(--disabled-color)
    border-radius 4px

.byWidth
  width 100%
  height auto
  min-height auto

.seasonsMode
  border-radius 4px

  @media (min-width $medium-width)
    border-radius 6px

.monthsMode
  border-radius 14px
  width auto
  flex 1 1 0%
  min-width 0
  border solid 2px var(--disabled-color)

  @media (min-width $medium-width)
    border solid 3px var(--disabled-color)
    border-radius 22px

.present
  box-shadow 0 0 6px 2px var(--week-present-color)
  z-index 10

.present.monthsMode
  box-shadow 0 0 6px 3px var(--week-present-color)