.title
  display flex
  gap 10px
  padding-bottom 15px
  align-items center

  svg
    fill var(--primary2-color)

    path
      fill var(--primary2-color)

  &.secondColor
    svg
      fill var(--primary-color)

      path
        fill var(--primary-color)

.year
  color var(--secondary-color)
  display flex
  align-items center
  gap 4px

.month
  color var(--primary2-color)

.dates
  color var(--contrast-color)

.leapIcon
  display flex
  align-items center

  svg
    fill none
    stroke var(--attention-color)

    path
      fill none
      stroke var(--attention-color)

.secondColor
  color var(--primary-color)
