.loadingRow
  display grid
  grid-template-columns repeat(52, 1fr)
  gap 1px
  width 100vw
  max-width 532px
  padding-top 40vh
  margin 0 auto

  @media (min-height 1000px)
    max-width 585px

  @media (min-height 1100px)
    max-width 744px

  @media (min-height 1500px)
    max-width 1111px

.week
  aspect-ratio 1 / 1
  width 100%
  border-radius 2px
  background-color var(--default-week-bg-color)
  border 1px solid var(--week-future-color)
  transition border-color 0.2s, box-shadow 0.2s

.past
  border-color var(--week-past-color)

.present
  border-color var(--week-present-color)
  box-shadow 0 0 6px 2px var(--week-present-color)

.future
  border-color var(--week-future-color)