.resultText
  font-size 18px
  color var(--contrast-color)
  text-align center
  min-height 48px
  opacity 0
  transition opacity 1s

.resultText.visible
  opacity 1

.statsText
  font-size 14px
  color var(--contrast-color)
  text-align center
  margin-top 18px
  min-height 60px
  opacity 0
  transform translateY(10px)
  transition opacity 3s, transform 3s

.statsText.visible
  opacity 1
  transform translateY(0)

.lifeExpectancy
  transition opacity 4s, transform 4s

.finalBlock
  transition opacity 4s, transform 4s
  opacity 0
  transform translateY(10px)
  text-align center
  min-height 60px
  margin-top 20px
  display flex
  flex-direction column
  align-items center
  gap 40px

.finalBlock.visible
  opacity 1
  transform translateY(0)

.noAnimation
  transition none