.button
  color white
  height 34px
  border none
  display flex
  align-items center
  background-color #613EEA
  padding 2px 12px
  border-radius 22px
  will-change transform
  transition background-color 0.5s ease

.small
  height 24px

.large
  height 44px

.active
  color white

.disabled
  color #747474

.gost
  background transparent
  border: solid 2px #613EEA

.label
  font-size 12px
  text-align center
  padding 0 5px

.contentWrapper
  display flex
  align-items center

  &.leftWrapper
    flex-direction row

  &.rightWrapper
    flex-direction row-reverse

  & .label
    position absolute
    right 12px
    white-space nowrap
    opacity 0
    transform translateX(100%)
    transition transform 0.2s ease, opacity 0.1s ease

  & .activeLabel
    opacity 1
    transform translateX(0)

  & .hiddenLabel
    opacity 0
    font-size 12px
    text-align center
    padding 0 5px

.hidden
  opacity 0