.button
  color white
  height 34px
  border none
  display flex
  align-items center
  background-color var(--primary-color)
  padding 2px 12px
  border-radius 22px
  will-change transform, background-color 
  transition background-color 0.1s ease

.small
  height 24px

.large
  height 44px

.active
  color white

.disabled
  color var(--disabled-color)

.gost
  background transparent
  border: solid 2px var(--primary-color)

.label
  font-size 12px
  text-align center
  padding 0 5px

.contentWrapper
  display flex
  align-items center

  &.leftWrapper
    flex-direction row

  &.rightWrapper
    flex-direction row-reverse

  & .label
    position absolute
    right 12px
    white-space nowrap
    opacity 0

  & .activeLabel
    opacity 1

  & .hiddenLabel
    opacity 0
    font-size 12px
    text-align center
    padding 0 5px

.hidden
  opacity 0