.light-theme
  --primary-color #613EEA
  --primary-light-color #957aff
  --secondary-color #6c757d
  --non-active-color #9DB2CE
  --text-color #333333
  --background-color #ebeced
  --disabled-background-color #c8c8c8
  --disabled-color #747474
  --background-front-color #ffffff
  --blackout-color #000
  --menu-accent-color #00b7ff
  --accent-color #ff6347
  --border-color #ced4da
  --default-color #95cbc9
  --contrast-color #000
  --opposite-contrast-color #fff

.dark-theme
  --primary-color #613EEA
  --primary-light-color #957aff
  --secondary-color #6c757d
  --non-active-color #9DB2CE
  --text-color #bbbcbf
  --background-color #242424
  --disabled-background-color #747474
  --disabled-color #747474
  --background-front-color #1E1E1E
  --blackout-color #000
  --menu-accent-color #00b7ff
  --accent-color #ff6347
  --border-color #ced4da
  --default-color #95cbc9
  --contrast-color #ffffff
  --opposite-contrast-color #000
