.light-theme
--primary-color = #007bff
--secondary-color = #6c757d
--text-color = #333333
--background-color = #ffffff
--blackout-color = #000
--background-front-color = #1E1E1E
--menu-accent-color = #00b7ff
--accent-color = #ff6347
--border-color = #ced4da

.dark-theme
  --primary-color = #007bff
  --secondary-color = #6c757d
  --text-color = #333333
  --background-color = #242424
  --background-front-color = #1E1E1E
  --blackout-color = #000
  --menu-accent-color = #00b7ff
  --accent-color = #ff6347
  --border-color = #ced4da