.light-theme
  /* Common */
  --primary-color #613EEA
  --primary-light-color #957aff
  --primary-dark-color #1f144d
  --secondary-color #6c757d
  --non-active-color #9DB2CE
  --text-color #333333
  --background-color #ebeced
  --disabled-background-color #c8c8c8
  --disabled-color #747474
  --background-front-color #ffffff
  --blackout-color #000
  --menu-accent-color #00b7ff
  --accent-color #ff6347
  --border-color #ced4da
  --default-color #95cbc9
  --contrast-color #000
  --opposite-contrast-color #fff
  /* Weeks grid */
  --default-week-bg-color #95cbc9
  --default-week-border-color  #747474
  --week-past-color #957aff
  --week-present-color #613EEA
  --week-future-color #1f144d
  --new-year-color #00d0ff
  --birthday-color #ffb300
  --feb-23-color #3b82f6
  --mar-8-color #e75480
  --wheel-picker-bg-color #c8c8c8
  --block-hover-bg rgba(0,0,0,0.06)
  /* Profile Settings */
  --avatar-bg-color #444
  --group-divider-color rgba(0,0,0,0.08)
  --profile-icon-color #5C7CFA
  --storage-icon-color #868E96
  --appearance-icon-color #FAB005
  --language-icon-color #228BE6
  --premium-icon-color #FFD43B
  --about-icon-color #15AABF

.dark-theme
  /* Common */
  --primary-color #613EEA
  --primary-light-color #957aff
  --primary-dark-color #1f144d
  --secondary-color #6c757d
  --non-active-color #9DB2CE
  --text-color #bbbcbf
  --background-color #242424
  --disabled-background-color #747474
  --disabled-color #747474
  --background-front-color #1E1E1E
  --blackout-color #000
  --menu-accent-color #00b7ff
  --accent-color #ff6347
  --border-color #ced4da
  --default-color #95cbc9
  --contrast-color #ffffff
  --opposite-contrast-color #000
  /* Weeks grid */
  --default-week-bg-color #95cbc9
  --default-week-border-color  #747474
  --week-past-color #9DB2CE
  --week-present-color #fff
  --week-future-color #000
  --new-year-color #00d0ff
  --birthday-color #ffb300
  --feb-23-color #3b82f6
  --mar-8-color #e75480
  --wheel-picker-bg-color #eaecee
  --block-hover-bg rgba(255,255,255,0.06)
  /* Profile Settings */
  --avatar-bg-color #444
  --group-divider-color rgba(255,255,255,0.08)
  --profile-icon-color #5C7CFA
  --storage-icon-color #868E96
  --appearance-icon-color #FAB005
  --language-icon-color #228BE6
  --premium-icon-color #FFD43B
  --about-icon-color #15AABF
