@import './fonts.styl'
@import './colors.styl'
@import './vars.styl'

body
  margin 0
  padding 0
  font-family 'Montserrat', sans-serif
  background var(--background-color)

  #root
    background var(--background-color)

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)