// Stylus variables for media queries
$tablet-width = 1366px
$medium-width = 1040px
$mobile-width = 768px
// Borders
$border-radius = 24px
$border-radius-small = 16px
$border-radius-large = 40px

:root
  --tablet-width 1366px
  --medium-width 1040px
  --mobile-width 768px
  --border-radius 24px
  --border-radius-small 16px
  --border-radius-large 40px