.wrap
  display flex
  justify-content center
  text-align left
  width 100%

.label
  margin-bottom 8px
  font-size 16px
  color var(--text-color)

.input
  font-size 16px
  padding 8px 14px
  border-radius 22px
  border 1.5px solid var(--contrast-color)
  box-sizing border-box
  width 200px
  background var(--background-front-color)
  color var(--contrast-color)
  transition border-color 0.2s

  &::placeholder
    color var(--non-active-color)
    opacity 1

  &:focus
    border-color var(--primary-color)
    outline none

.inputDefault
  color var(--text-color) !important
  border-color var(--text-color) !important