.seasons
  margin-bottom 15px
  display flex
  gap 8px

.seasonItem
  display flex
  gap 8px
  align-items center
  color var(--primary2-color)

  svg
    stroke var(--primary2-color)

    path
      stroke var(--primary2-color)

  &.secondColor
    svg
      stroke var(--primary-color)

      path
        stroke var(--primary-color)

.separator
  color var(--secondary-color)

.secondColor
  color var(--primary-color)
