@import '../../../../../../styles/vars.styl'

.wrapper
  padding-top 24px
  border-radius 8px

  @media (min-width $medium-width)
    padding-top 3px
    position relative

.header
  display flex
  gap 6px
  font-size 13px
  margin-bottom 6px
  padding-left 20px
  opacity 1
  animation fadeIn 1.4s ease
  align-items center

  svg
    fill var(--primary2-color)

    path
      fill var(--primary2-color)

  @media (min-width $medium-width)
    position absolute
    margin-left -200px
    margin-top 52px
    width 154px
    justify-content end
    gap 8px

.weeksRow
  display flex
  gap 0
  flex-wrap wrap
  animation fadeIn 0.4s ease

  @media (min-width $medium-width)
    gap 1px

.labelYear
  color var(--text-secondary)

.labelMonth
  color var(--primary2-color)

.emptyWeek
  flex 1 1 0%
  min-width 0
  border solid 2px transparent

  @media (min-width $medium-width)
    border solid 3px transparent

@keyframes fadeIn
  from
    opacity 0

  to
    opacity 1