@import '../../../../styles/vars.styl'

.mediaContainer
  width 100%
  display flex
  flex-direction column
  gap 1px
  background linear-gradient(135deg, rgba(122, 122, 122, 0.4), rgba(0, 0, 0, 0))
  border-radius var(--border-radius-large) var(--border-radius-large) var(--border-radius) var(--border-radius)
  max-width var(--mobile-width)
  margin 0 auto

.smallMediaContainer
  display flex
  gap 1px
  width 100%

.bottomRadius
  border-bottom-left-radius var(--border-radius-large)
  border-bottom-right-radius var(--border-radius-large)