.wrapper
  padding 30px 10px

.title
  display flex
  gap 10px
  padding-bottom 15px
  align-items center

  svg
    fill var(--primary2-color)

    path
      fill var(--primary2-color)

  &.secondColor
    svg
      fill var(--primary-color)

      path
        fill var(--primary-color)

.year
  color var(--secondary-color)

.month
  color var(--primary2-color)

.dates
  color var(--contrast-color)

.weekNumber
  font-size 12px
  font-weight 100
  color var(--contrast-color)

.age
  margin-bottom 10px
  font-size 12px
  font-weight 100
  color var(--secondary-color)

.seasons
  margin-bottom 15px
  display flex
  gap 8px

.seasonItem
  display flex
  gap 8px
  align-items center
  color var(--primary2-color)

  svg
    stroke var(--primary2-color)

    path
      stroke var(--primary2-color)

  &.secondColor
    svg
      stroke var(--primary-color)

      path
        stroke var(--primary-color)

.seasonValue
  font-size 14px

.separator
  color var(--secondary-color)

.holidays
  margin-bottom 15px

.holidaysLabel
  color var(--secondary-color)
  font-size 14px
  font-weight 500
  margin-bottom 5px

.holidaysList
  color var(--text-color)
  font-size 14px
  line-height 1.4

.holidayItem
  color var(--brand-g1-color)

.comments
  margin-bottom 15px

.commentsLabel
  color var(--secondary-color)
  font-size 14px
  font-weight 500
  margin-bottom 5px

.commentsText
  color var(--text-color)
  font-size 14px
  line-height 1.5
  font-style italic

.description
  margin-top 20px
  color var(--text-color)
  line-height 1.5
  line-height 1.5

.secondColor
  color var(--primary-color)