.wrapper
  position fixed
  width 100vw
  display flex
  justify-content center
  align-items center
  bottom 80px
  z-index 170

.content
  display flex
  align-items center
  justify-content center
  gap 16px
  background-color var(--background-front-color)
  padding 12px 20px
  border-radius 28px
  box-shadow 0 4px 12px rgba(0, 0, 0, 0.15)
  animation fadeIn 0.3s ease
  opacity: 0.98;

.message
  margin 0
  font-size 12px
  color var(--text-color)

@keyframes fadeIn
  from
    opacity 0
    transform translateX(-100%)

  to
    opacity 1
    transform translateX(0)