.wrap
  position absolute
  top 0
  left var(--header-radius, 17px)
  right var(--header-radius, 17px)
  width auto
  background-color var(--disabled-background-color)
  opacity 0.45
  height 1px
  animation colored 2s cubic-bezier(0.5, 0.51, 0.69, 0.7) infinite
  transition opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  will-change opacity

  .bar
    position absolute
    left 0
    width 0
    height 1px
    background-color var(--background-color)
    animation leftRight 2s cubic-bezier(0.5, 0.51, 0.69, 0.7) infinite

@keyframes leftRight
  0%
    left 0
    width 0
  20%
    left 0
    width 40%
  51%
    left 40%
    width 60%
  100%
    left 100%
    width 0

@keyframes colored
  0%
    background-color var(--brand-g1-color)
  50%
    background-color var(--brand-g2-color)
  100%
    background-color var(--brand-g1-color)