.container
  min-height 48px

.resultText
  font-size 14px
  color var(--contrast-color)
  text-align center
  opacity 0
  transition opacity 0.5s
  will-change opacity

.resultText.visible
  opacity 1

.finalBlock
  font-size 14px
  transition opacity 0.5s, transform 0.5s
  opacity 0
  transform translateY(10px)
  text-align center
  min-height 48px
  margin-top 14px
  display flex
  flex-direction column
  align-items center
  gap 26px
  will-change opacity, transform

.finalBlock.visible
  opacity 1
  transform translateY(0)