.settingBlock
  display flex
  align-items center
  gap 14px
  width 100%
  padding 8px 10px
  background var(--background-front-color)
  font-size 15px
  color var(--text-color)
  margin-bottom 0
  border none
  outline none

  &:focus, &:active, &.active
    border none
    outline none
    box-shadow none
    background var(--background-front-color)
    border-bottom 1px solid var(--group-divider-color)

  cursor pointer
  transition background 0.15s
  min-height 48px
  box-shadow none
  margin 0
  border-radius 0
  border-bottom 1px solid var(--group-divider-color)

  &:hover
    background var(--block-hover-bg)

  &.noIcon
    .title
      padding-left 20px

  &.noArrow
    .rightText
      margin-right 3px !important

  &.thinText
    .title
      font-weight 300

  &.lessPadding
    .title
      padding-left 10px

    .emptyIcon
      width 2px

  &.disabled
    opacity 0.3

  &.active
    font-weight bold
    color var(--primary-color)

.first
  border-top-left-radius 28px
  border-top-right-radius 28px

.last
  border-bottom-left-radius 28px
  border-bottom-right-radius 28px
  border-bottom none

.expanded
  border-radius 28px

.first.last
  border-radius 40px

.iconCircle
  width 32px
  height 32px
  border-radius 50%
  display flex
  align-items center
  justify-content center
  margin-right 10px
  flex-shrink 0

.icon
  font-size 18px
  width 18px
  height 18px
  display flex
  align-items center
  justify-content center

.title
  flex 1
  font-weight 500
  color var(--text-color)
  text-align left

.rightText
  color var(--secondary-color)
  font-size 14px
  margin-right 10px
  margin-left auto

.rightBlock
  display flex
  align-items center
  margin-left auto
  gap 4px
  min-width 60px
  justify-content flex-end

.emptyIcon
  width 22px
  height 22px
  border-radius 50%

.settingBlockWrap
  width 100%

.expandedPreview
  margin-top 8px
  margin-bottom 8px
  padding 8px 0
  width 100%

.carousel
  overflow-x auto
  display flex
  flex-direction row
  gap 4px
  padding 16px 0 16px 4px
  scrollbar-width none
  -ms-overflow-style none

  &::-webkit-scrollbar
    display none

.carouselItem
  border-radius 24px
  transition border 0.2s
  cursor pointer
  width 96px
  height 128px
  display flex
  align-items center
  justify-content center
  flex-shrink 0
  overflow hidden

.lastCarouselItem
  margin-right 4px

.carouselItem.selected
  border 2px solid var(--primary-color)
  background #333