.themeCard
  display flex
  flex-direction column
  align-items center
  justify-content center
  gap 4px
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  gap 16px
  padding 4px

.weeksColors
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  gap 5px
  padding-top 10px

.palette
  display flex
  flex-direction row
  align-items center
  justify-content space-around
  gap 2px

.colorWeek
  width 9px
  height 9px
  border-radius 2px
  border 1px solid var(--background-front-color)
  box-shadow 0 0 2px rgba(0, 0, 0, 0.12)

.fakeTabBar
  margin-left 38px
  display flex
  justify-content space-between
  align-items center
  padding 10px 13px
  line-height 6px
  box-shadow 0 -1px 25px -16px rgba(0, 0, 0, 0.1)
  border-radius 40px

.fakeNavButton
  height 34px
  border none
  outline none
  box-shadow none
  display flex
  align-items center
  padding 2px 12px
  border-radius 22px

.fakeNavButtonLabel
  font-size 12px
  font-weight 500
  margin-left 4px